<% book.book_comments.each do |book_comment| %>
  <div class= "a">
    <%= image_tag book_comment.user.get_profile_image, size:'100x100' %>
    <a class= "b">  
      <%= book_comment.comment %>
    </a>
    <% if book_comment.user == current_user %>
      <%= link_to 'Destroy', book_book_comment_path(book.id,book_comment.id) , method: :delete, class: "btn btn-sm btn-danger b", remote: true %>
    <% end %>
  </div>
  <%= link_to user_path(book_comment.user.id) do %>
    <%= book_comment.user.name %>
  <% end %>
<% end %>
